@page
@model TenantIssueTracker.Pages.Caretaker.ViewFeedbackModel
@{
    ViewData["Title"] = "View Feedback";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th>Tenant Name</th>
            <th>Apartment Number</th>
            <th>Content</th>
            <th>Submitted On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model.Feedbacks)
        {
            <tr>
                <td>@feedback.TenantName</td>
                <td>@feedback.ApartmentNumber</td>
                <td>@feedback.Content</td>
                <td>@feedback.SubmittedOn</td>
            </tr>
        }
    </tbody>
</table>