@page
@model tenant_issue_tracker.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout"; 
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tenant Issue Tracker</h1>
    <p>Track and manage tenant issues efficiently.</p>
</div>